@model BookRadarFrontEnd.Models.books.ResponseSearch
@{
    ViewData["Title"] = "Listado de Libros";
}



<div id="divLibros" class="content">
    <section class="content-header">
        <div class="row">
            <div class="col-md-12">
                <h1>Libros</h1>
                <hr class="my-4" />
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary shadow">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h3 class="card-title m-0">Resultado de búsquedas por autor</h3>
                            <!-- Botón Buscar Autor -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalBuscar" id="btnAbrirModalBuscarXAutor" onclick="AbrirModalBuscarPorAutor()">
                                Buscar por autor
                            </button>
                        </div>

                        <div class="modal fade large" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="modalBuscarLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <!-- Aquí se cargará la vista parcial con el filtro de busqueda -->
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="tblLibros" class="table table-striped table-bordered dt-responsives" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="text-center">Título</th>
                                        <th class="text-center">Año de publicación</th>
                                        <th class="text-center">Editorial</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var libro in Model.BookList)
                                    {
                                        <tr align="center">
                                            <td>@libro.titulo</td>
                                            <td>@libro.anioPublicacion</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(libro.editorial))
                                                {
                                                    @libro.editorial
                                                }
                                                else
                                                {
                                                    <span class="text-muted">Sin editorial</span>
                                                }
                                            </td>
                                            <td>
                                                <button class="btn btn-success btn-sm"
                                                        title="Guardar búsqueda"
                                                        id="btnGuardarBusqueda"
                                                        onclick="GuardarBusqueda('@libro.titulo')">
                                                    <i class="fas fa-save"></i>
                                                </button>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script src="~/js/web/BusquedaPorAutor.js" asp-append-version="true"></script>
    <script>
        var urlAbrirModalBuscar = '@Url.Action("abrirBuscarModal", "Home")';
        var urlbuscarPorAutor = '@Url.Action("buscarPorAutor", "Home")';
        var urlGuardarBusqueda = '@Url.Action("GuardarBusqueda", "Home")';
    </script>
}
